<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/src/assets/css/base.css">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link rel="stylesheet" href="/src/assets/font/themify-icons-font/themify-icons/themify-icons.css">
</head>
<body>
    <div id="nav-bar">
        <ul class="nav-list-items">
            <li class="nav-item">
                <a href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a href="./introduction.html">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a href="./contact.html">Liên hệ</a>
            </li>
            <li class="nav-item">
                <a href="/src/view/history.html">Lịch sử đặt vé</a>
            </li>
        </ul>
        <ul class="nav-list-items">
            <li class="nav-item">
                <a href="/src/view/login.html" target="_blank">Đăng nhập</a>
            </li>
            <li class="nav-item">
                <a href="/src/view/signup.html" target="_blank">Đăng ký</a>
            </li>
        </ul>
    </div>
    <div id="body">
        <div id="slider" class="slider">
            <div class="slider-wrapper">
                <img src="/src/assets/img/thienphu1.jpg" alt="Ảnh 1">
                <img src="/src/assets/img/thienphu2.jpg" alt="Ảnh 2">
                <img src="/src/assets/img/thienphu3.jpg" alt="Ảnh 3">
            </div>
        </div>

        <div class="commitment">
            <div class="bus-image">
                <img src="/src/assets/img/bus.png" alt="" class="bus-img">
            </div>
            <div class="commitment-detail">
                <h1 class="commitment-header">TẠI SAO NÊN ĐẶT XE CỦA CHÚNG TÔI ?</h1>
                <ul class="commitment-list">
                    <li class="commitment-item">
                        <i class="ti-check-box commitment-icon"></i>
                        <span>Uy tín, chất lượng</span>
                    </li>
                    <li class="commitment-item">
                        <i class="ti-check-box commitment-icon"></i>
                        <span>Tiện nghi, thoải mái như ở nhà</span>
                    </li>
                    <li class="commitment-item">
                        <i class="ti-check-box commitment-icon"></i>
                        <span>Đưa đón tận nơi</span>
                    </li>
                    <li class="commitment-item">
                        <i class="ti-check-box commitment-icon"></i>
                        <span>Phục vụ khách hàng hết mình</span>
                    </li>
                </ul>
            </div>
        </div>

        <h1 class="title">ĐẶT VÉ NGAY HÔM NAY</h1>
        
        <div class="list-routes">
            <div class="route-item">
                <div class="demo-container">
                    <img src="/src/assets/img/lethuy.jpg" alt="" class="demo-image">
                    <span class="from">Tuyến xe từ</span>
                    <span class="from-position">Lệ Thuỷ - Quảng Bình</span>
                </div>
                <div class="route-detail">
                    <div class="destination-and-price">
                        <span class="destination">Đồng Hới - Quảng Bình</span>
                        <span class="price">50.000đ</span>
                    </div>
                    <span class="during">
                        <i class="ti-timer"></i>
                        50km - 30 phút</span>
                    <button  class="book-btn">Đặt vé</button>
                </div>
            </div>
            <div class="route-item">
                <div class="demo-container">
                    <img src="/src/assets/img/hue.jpg" alt="" class="demo-image">
                    <span class="from">Tuyến xe từ</span>
                    <span class="from-position">TP Huế</span>
                </div>
                <div class="route-detail">
                    <div class="destination-and-price">
                        <span class="destination">Lệ Thuỷ - Quảng Bình</span>
                        <span class="price">120.000đ</span>
                    </div>
                    <span class="during">
                        <i class="ti-timer"></i>
                        300km - 2 giờ 30 phút</span>
                    <button class="book-btn">Đặt vé</button>
                </div>
            </div>
            <div class="route-item">
                <div class="demo-container">
                    <img src="/src/assets/img/danang.png" alt="" class="demo-image">
                    <span class="from">Bến xe trung tâm- Đà Nẵng</span>
                    <span class="from-position">Lệ Thuỷ - Quảng Bình</span>
                </div>
                <div class="route-detail">
                    <div class="destination-and-price">
                        <span class="destination">Lệ Thuỷ - Quảng Bình</span>
                        <span class="price">170.000đ</span>
                    </div>
                    <span class="during">
                        <i class="ti-timer"></i>
                        400km - 4 giờ</span>
                    
                    <button  class="book-btn">Đặt vé</button>
                </div>
            </div>
            <div class="route-item">
                <div class="demo-container">
                    <img src="/src/assets/img/hochiminh.jfif" alt="" class="demo-image">
                    <span class="from">Tuyến xe từ</span>
                    <span class="from-position">TP Hồ CHí Minh</span>
                </div>
                <div class="route-detail">
                    <div class="destination-and-price">
                        <span class="destination">Lệ Thuỷ - Quảng Bình</span>
                        <span class="price">100.000đ</span>
                    </div>
                    <span class="during">
                        <i class="ti-timer"></i>
                        900km - 20 giờ</span>
                    <button  class="book-btn">Đặt vé</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-container">
            <div class="modal-close">
                <i class="ti-close"></i>
            </div>

            <header class="modal-header">
                <i class="ti-bag ticket-icon"></i>
                Đặt vé
            </header>

            <div class="modal-body">
                <div class="modal-group">
                    <label for="" class="info-label">Số điện thoại</label>
                    <input type="text" id="phone" class="info-input" placeholder="VD: 0123456789">
                </div>
                <div class="modal-group">
                    <label for="" class="info-label">Họ tên</label>
                    <input type="text" id="name" class="info-input" placeholder="VD: Phúc Nguyên">
                </div>
                <div class="modal-group">
                    <label for="" class="info-label">Giá vé</label>
                    <input type="text" value="100.000đ" id="name" class="info-input" readonly>
                </div>
                <div class="modal-group">
                    <label for="" class="info-label">Ngày khởi hành</label>
                    <input type="date" id="name" class="info-input">
                </div>
                <button class="ok-btn">Xác nhận</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-group">
            <h2 class="footer-header">Cam kết</h2>
            <div class="footer-group-child">
                <span> 
                    <i class="ti-check check-icon"></i>
                    Uy tín
                </span>
            </div>
            <div class="footer-group-child">
                <span> 
                    <i class="ti-check check-icon"></i>
                    Chất lượng
                </span>
            </div>
            <div class="footer-group-child">
                <span> 
                    <i class="ti-check check-icon"></i>
                    Thoải mái như ở nhà
                </span>
            </div>
        </div>
        <div class="footer-group">
            <h2 class="footer-header">Liên hệ</h2>
            <div class="footer-group-child">
                <label class="footer-label">Số điện thoại: </label class="footer-label">
                <a href="https://www.facebook.com/thecuong.bui.710" target="_blank">0123456789</a>
            </div>
            <div class="footer-group-child">
                <label class="footer-label">Facebook: </label>
                <a href="https://www.facebook.com/thecuong.bui.710" target="_blank">Bùi Thế Cường</a>
            </div>
        </div>
        <div class="footer-group">
            <h2 class="footer-header">Thanh toán</h2>
            <img src="/src/assets/img/qr.png" alt="" class="qr-img">
        </div>
    </footer>
    <script src="/src/assets/js/index.js"></script>
    <script>

    </script>
</body>
</html>