* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    width: 100%;
    background-color: #228686;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.nav-list-items {
    padding-left: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    list-style: none;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.nav-item > a {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
    background-color: #239696;
    cursor: pointer;
}

footer {
    background: #fff7f5;
    display: flex;
    justify-content: space-between;
    padding: 30px 400px;
  }

  .footer-group {
    display: flex;
    flex-direction: column;
  }

  .footer-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer-group-child {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
  }

  .check-icon {
    margin-right: 5px;
  }

  .footer-label {
    margin-right: 5px;
  }

  .qr-img {
    width: 90px;
    height: 90px;
  }